APP_ENV=testing
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=сwr_test
DB_USERNAME=root
DB_PASSWORD=root
DB_TIMEZONE=-07:00

OFFICE_ALLY_PROXY=
OFFICE_ALLY_PROXY_ENABLED=
OFFICE_ALLY_CREDENTIALS=

TWILIO_DEFAULT_DRIVER=test
